.—Åasting {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 35px;
  padding: 0 5% 0;
}

.casting__group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.casting__field {
  margin: 0 0 13px 0;
  width: 100%;
  overflow: hidden;
}

.casting__input {
  margin: 0 0 5px 0;
  width: calc(100% - 8px);
  height: 27px;
  padding: 0;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  font-family: "Ubuntu", "Elsie", "Spectral";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: 0.8s;
  padding-left: 8px;
  overflow: hidden;
}

.casting__input:focus-visible {
  outline: none;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.casting__input:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.casting__field:hover .casting__error-mesage {
  transform: scale(1.05);
}

.casting__input_wrong-mesage {
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}

.casting__error-mesage {
  margin: 0;
  display: block;
  min-height: 30px;

  font-family: "Ubuntu", "Elsie", "Spectral";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ff0000;
  padding-left: 8px;
  transition: 0.7s;
}

.casting__submit-button {
  margin: 30px 0 26px;
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 10px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  font-family: "Ubuntu", "Elsie", "Spectral";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (min-width: 544px) and (max-width: 1152px) {
  .casting__submit-button {
    margin-top: 16.5px;
    height: 48px;

    font-size: 16px;
    line-height: 19.5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .casting__submit-button {
    margin-top: 15px;

    height: 46px;

    font-size: 14px;
    line-height: 17px;
  }
}

.casting__submit-button_valid {
  background-color: #000;
  color: #fff;
}

.casting__submit-button_invalid {
  background-color: #fff;
  color: #000;

  border: 1px solid #000;
  opacity: 0.2;
}

input[type=file] {
  z-index: -100;
  margin: auto;
  padding: 0;
  background-color: transparent;
}

