.woman {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  transition: 0.85s;
  border-radius: 7.5px;
}

.woman:hover {
  /* box-shadow: 0 0 20px 1px #000; */
  box-shadow: 0 1px 50px rgb(58 58 58 / 50%);
  transform: scale(1.025);
}

.woman__card {
  position: relative;
}

.woman__link {
  width: 100%;
  height: 100%;
  line-height: 0;
}

.woman__main-photo {
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 1s;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.woman__main-photo:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.woman__title {
  transition: 0.85s;
  min-height: 35px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 7.5px;
  text-align: center;
  line-height: 35px;

  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  font-size: 35px;
  font-weight: 300;
  font-family: -apple-system, Ubuntu, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen-Sans, Cantarell, Helvetica Neue, sans-serif;
}

.woman:hover .woman__title {
  background-color: #f6f6f6;
}
