.header {
  padding: 0 8%;
  height: 90px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #242424;
  margin: 0;
  top: 0;
}

.header__container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 90px;
  width: 90px;
  transition: 1s;
}

.header__column {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}

.header__list {
  height: 100%;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: end;
}

.header__element-list {
  height: 100%;
  min-width: 94px;
  display: flex;
  margin: 0 30px 0 0;
  justify-content: center;
}

.header__link {
  height: 100%;
  width: fit-content;
  color: black;
  padding: 0 6px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.header__link_active {
  color: red;
}

.header__link:hover {
  transform: scale(1.15);
}

.header__link_text {
  margin: 0;
  margin-block: 0;
  text-align: center;
}

.header__link_text:hover {
  color: red;
}

.header__link_icon {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.header__link_icon:hover {
  animation: 1.5s linear 0s normal none 1 running rotation;
  -webkit-animation: 1.5s linear 0s normal none 1 running rotation;
}

.header__social-network-list {
  height: 100%;
  margin: 0;
  display: flex;
  column-gap: 30px;
  list-style: none;
  padding: 0;
}

.header__social-network {
  min-width: 42px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1052px) {
  .header {
    padding: 0 7%;
  }
  .header__element-list {
    margin: 0 25px 0 0;
  }
  .header__social-network-list {
    column-gap: 25px;
  }
}

@media screen and (min-width: 545px) and (max-width: 768px) {
  .header {
    padding: 0 6%;
  }
  .header__element-list {
    margin: 0 15px 0 0;
  }
  .header__social-network-list {
    column-gap: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 545px) {
  .header {
    padding: 0 1%;
  }
  .header__container {
    justify-content: center;
  }
  .header__column {
    width: 100%;
    justify-content: center;
  }
  .header__list {
    width: 100%;
    justify-content: space-between;
  }
  .header__logo {
    display: none;
  }
  .header__element-list {
    margin: 0 10px 0 0;
  }
  .header__social-network-list {
    display: none;
  }
}
